html {
	width: 100vw;
	height: 100vh;
	background-color: white;
}
body {
	margin: calc(max(50vh - 450px, 0px)) calc(max(50vw - 800px, 0px));
	width: 1600px;
	height: 900px;
	user-select: none;
	overflow: hidden;
}
div.head {
	width: 1600px; 
	height: 50px;
	font: bold 40px Courier New;
	text-align: center;
	line-height: 50px;
	background-color: lightsalmon;
}
div.main {
	width: 1560px;
	height: 800px;
	border-width: 0px 20px;
	border-style: solid;
	border-color: lightsalmon;
}
div.line {
	width: 1560px;
	height: 180px;
	display: flex;
}
div.block {
	width: 120px;
	height: 180px;
	font: 70px Consolas;
	text-align: center;
	line-height: 90px;
}
div.block:hover {
	background-color: lightpink;
}
div.block[selected="1"] {
	background-color: skyblue;
}
div.block[selected="1"]:hover {
	background-color: dodgerblue;
}
div.jokers {
	width: 1560px;
	height: 80px;
	display: flex;
}
div.block[joker="1"] {
	width: 780px;
	height: 80px;
}
div.layout {
	width: 1600px;
	height: 50px;
	font: bold 40px Courier New;
	text-align: center;
	line-height: 50px;
	background-color: yellow;
}
div.layout:hover {
	background-color: orange;
}
div.layout[disabled="1"] {
	cursor: not-allowed;
	color: white;
	background-color: brown;
}